.model {
    margin: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.header-text {
    display: flex;
    line-height:24px;
    padding-left: 15px;
    vertical-align:middle;
    color:rgba(0,0,0,0.87);
    text-decoration:none;
}

.header-text:hover {
    text-decoration:underline
}

.header-text2 {
    padding-right: 15px;
}

.header-image {
    display: flex;
    line-height:24px;
    vertical-align:middle;
}

.header-image1 {
    width: 24px;
    height: 24px;
    padding: 12px 16px 12px 12px;
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
    border-radius: 100px;
}

.header-image1:hover {
    background-color:rgba(0,0,0,.12)
}

.header-image2 {
    padding: 4px;
    border-radius: 50px;
}

.header-image2:hover {
    background-color:rgba(0,0,0,.12)
}

.header {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    height: 60px;
    padding: 6px 14px 6px 6px;
    flex-shrink: 0;
    box-sizing: border-box;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 290px;
    min-height: 92px;
    height: calc(100% - 560px);
}

.logo-border {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: 169px;
}

.logo-google {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.main {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.main-search-text {
    padding-top: 6px;
    width: auto;
    margin: 0 192px;
}

.main-search-border {
    width: auto;
    max-width: 582px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.main-search-border:hover {
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
}

.main-search-icons-border {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.main-search-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 7px;
    margin-bottom: 9px;
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
}

.main-input-border {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.main-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    padding-bottom: 5px;
    -webkit-tap-highlight-color: transparent;
    text-rendering:auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    cursor: text;
    font: 400 16px Arial;
}

.main-buttons {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.main-buttons-border {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.main-button-border {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.main-text-buttons-border {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
}

.main-text-buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.main-text-buttons:hover {
    border-color: #dfe1e5;
    box-shadow:0 1px 1px rgba(0,0,0,.16)
}

.details {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 245px;
}

.details-border {
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
}

.details-text {
    color: #3c4043;
    display: inline-block;
    line-height: 28px;
}

.details-text-border {
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
}

.footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.footer-country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-4tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 0;
}

.footer-tabs-text {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    cursor: pointer;
    text-decoration: none;
}

.footer-eco {
    order: 1;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-eco-image {
    height: 14px;
    margin-right: 6px;
    color: #70757a;
    white-space: nowrap;
    cursor: pointer;
}

.footer-eco-border {
    display:block;
    padding:15px;
    text-decoration: none;
}

.footer-eco-text {
    white-space: nowrap;
    vertical-align: top;
    color: #70757a;
    cursor: pointer;
}

.footer-3tabs {
    justify-content: flex-end;
    min-width: 30%;
    order: 2;
    display: flex;
    flex-wrap: wrap;
}

.text-hover:hover {
    text-decoration:underline
}
